@{
    ViewData["Title"] = "Home Page";
}



<br />
<br />
<br />
<br />
<br />
<br />
<div class="d-flex justify-content-center">
    <h1>WATER MANAGEMENT SYSTEM</h1>
 </div>
<div class="d-flex justify-content-center">
    @*Main page animation Image*@
	<img src="~/images/orneryphysicalbass-max-1mb.gif" /> <br />
  </div>
<br />
<div class="d-flex justify-content-center ">
    <a asp-action="Index" asp-controller="GoogleLogin">
        @*Main page Google Image*@
        <img src="~/images/google-signin-button.png" height="150px" width="350px" class="shadow-lg p-3 mb-5 bg-white rounded" />
    </a>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

